nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #bfd1d4;
    padding: 15px;
}
.navLink {
    text-decoration: none; 
    margin-right: 30px; 
    color: black;
    cursor: pointer;
}


  